<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>645205248651-p06pra9m1fdjlml3cjprord4gbugb6kp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.645205248651-p06pra9m1fdjlml3cjprord4gbugb6kp</string>
	<key>API_KEY</key>
	<string>AIzaSyChGyUjXOo0rzYixXD05ZbdIVlTqli5Elk</string>
	<key>GCM_SENDER_ID</key>
	<string>645205248651</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.appraf.gl</string>
	<key>PROJECT_ID</key>
	<string>gacha-life-3eda2</string>
	<key>STORAGE_BUCKET</key>
	<string>gacha-life-3eda2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:645205248651:ios:2a15b83e4915b4fbeb628e</string>
	<key>DATABASE_URL</key>
	<string>https://gacha-life-3eda2.firebaseio.com</string>
</dict>
</plist>