<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>927658005867-urv2siq4ubkamqnoe9q209gk434gen65.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.927658005867-urv2siq4ubkamqnoe9q209gk434gen65</string>
	<key>API_KEY</key>
	<string>AIzaSyBcEvlfU9L4sXk1MHRDqmpp74yBCY3kwpI</string>
	<key>GCM_SENDER_ID</key>
	<string>927658005867</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.appraf.cr</string>
	<key>PROJECT_ID</key>
	<string>clashroyale-1b497</string>
	<key>STORAGE_BUCKET</key>
	<string>clashroyale-1b497.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:927658005867:ios:e4ce842f5d1851d469a82e</string>
	<key>DATABASE_URL</key>
	<string>https://clashroyale-1b497.firebaseio.com</string>
</dict>
</plist>