<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>465444608036-v1ldj9bm0gh20d0mkhh81bup6m6r2go9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.465444608036-v1ldj9bm0gh20d0mkhh81bup6m6r2go9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>465444608036-50c9lu4nuns3e7agc65difh62a7m6d5h.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDhyMbd5Vx6pXBKtmcOZP5VsIlaqEXtJFE</string>
	<key>GCM_SENDER_ID</key>
	<string>465444608036</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.appraf.mw</string>
	<key>PROJECT_ID</key>
	<string>miniworld-286bf</string>
	<key>STORAGE_BUCKET</key>
	<string>miniworld-286bf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:465444608036:ios:824ab5c8e4dd8aa3</string>
	<key>DATABASE_URL</key>
	<string>https://miniworld-286bf.firebaseio.com</string>
</dict>
</plist>